.gridd-container-element {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 2fr 6fr;
}
.griddp-container-element {
  display: grid; 
  grid-gap: 0px;
  grid-template-columns: 2fr 6fr;
}
.kubwaest {
  margin: 0 0 0 0;
  height: 78vh;
}
.childimage.infinity{
  object-fit: cover;
}
.grid-child-element.purn {
 
  border: none;
}
.grid-child-element.green {
  border: none;
}
.contenter1 {
  color: gray;
  height: 400px;
  font-size: 250%;
  background: goldenrod;
  padding: 5px;
  text-align: center;
}
.content-2 {
  margin-top: 20px;
  padding: 10px;
  font-size: 180%;
  border-bottom: 5px solid goldenrod;
  top: 0;
  height: 250px;
  color: goldenrod;
  text-align: left;
}
.amenw-3 {
  padding: 6px;
  color: grey;
  height: 455px;
  background: rgb(49, 49, 49);
}
.amenww-3 {
  padding: 6px;
  color: grey;
  height: 455px;
  background: rgb(49, 49, 49);
}
/* EXPLORE */
.arrow {
  position: absolute;
  top: 123%;
  left: 50%;
 
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 4px solid #000000;
  border-right: 4px solid #000000;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.4s;
}
@keyframes scroll {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
}
@font-face {
  font-family: "luxury";
  src: url(/din/fonts/FF\ DIN\ Pro\ Regular.otf);
}
.amen-head {
  font-family: "luxury";
}
.small-the {
  font-size: 18px;
  /* margin-top: 30px; */
  margin-right: 310px;
  font-family: "luxury";
}
.carey{
  margin-top: 15px;
  color: goldenrod;
  font-family: "luxury";
  font-size: 28px;
  margin-left: 40px;
}
.careyy{
  margin-top: 15px;
  color: goldenrod;
  font-family: "luxury";
  font-size: 25px;
  margin-left: 40px;
}
.ring{
  /* text-align: center; */
  padding: 5px 5px 5px 5px;
  height: 180px;
  margin-top: 50px;
  /* background-color: pink; */
}
.paragraph-bottommer {
  padding: 29px 27px 7px 7px;
 /* background-color: pink; */
  margin-left: 30px;
  height: 100px;
  font-size: 17px;
  margin-top: 50px;
  color: grey;
  font-family: "luxury";
}
.ro-log {
  margin-top: 70px;
  height: 998px;
  margin-bottom: 10px;
}
.explorer {
  margin-top: 10px;
  font-family: "luxury";
  transform: scale(2.5, 2);
}
.explore-section {
  font-size: 100%;
  font-weight: bold;
  color: #7c7471;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.paragraph-infinite {
  text-align: center;
  padding: 25px 0px 7px 7px;

  margin-left: 180px;
  font-size: 120%;
  margin-top: 250px;
  color: grey; 
  font-family: "luxury";
}
.paragraph-infi {
  text-align: left;
  padding: 15px 0px 7px 7px;
  /* background-color: pink; */
  font-family: "luxury";
  margin-left: 9%;
  margin-top: -12px;
}

.downarrow{
  text-decoration: none;
  color: grey;
}
@media all and (max-width:500px){
  .gridd-container-element{
    display: block;
  }
  .griddp-container-element{
    display: block;
  }
  .grid-child-element.green.lobby{
    object-fit: cover;
  }
  .kubwaest{
    margin: 0 0 0 0;
  }
  .paragraph-bottommer {
    padding: 29px 27px 7px 7px;
   /* background-color: pink; */
    margin-left: 40px;
    height: 100px;
    font-size: 120%;
    margin-top: -5%;
    color: grey;
    font-family: "luxury";
  }
  .amenw-3 {
    padding: 6px;
    color: grey;
    height: 410px;
    background: rgb(49, 49, 49);
  }
  .explorer {
    margin-top: 10px;
    text-decoration: none;
    color: grey;
    font-family: "luxury";
    transform: scale(2.5, 2);
  }
  .downarrow{
    text-decoration: none;
    color: grey;
  }
  .paragraph-infi {
    text-align: center;
    padding: 12px 0px 7px 7px;
    /* background-color: pink; */
    font-family: "luxury";
  }
}