.full-menu {
  background-color: goldenrod;
  height: 100vh;
  text-align: center;
  padding: 10px;
}
.menu-opt {
  margin-top: 50px;
  font-family: "luxury";
  color: rgb(104, 101, 101);
  font-size: 320%;
}
@font-face {
  font-family: "luxury";
  src: url(/din/fonts/FF\ DIN\ Pro\ Regular.otf);
}
.option1 {
  /* background-color: brown; */
  margin-top: 190px;
}
.mini-topic {
  font-family: "luxury";
  font-size: 20px;
  /* background-color: brown; */
}
a {
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  .full-menu {
    background-color: goldenrod;
    height: 100vh;

  }
  .option1 {
    margin-top: -2%;
  }
  .menu-opt {
    
    margin-top: 10%;
    font-family: "luxury";
    color: rgb(104, 101, 101);
    font-size: 180%;
  }
  .mini-topic {
    font-family: "luxury";
    font-size: 40%; 
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .full-menu {
    background-color: goldenrod;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .full-menu {
    background-color: goldenrod;
    height: 100vh;
  }
  option1 {
    margin-top: -2%;
  }
  .menu-opt {
    margin-top: 5%;
    
    
    font-size: 210%;
  }
  .mini-topic {
    font-size: 60%; 
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .fuller-menu {
    /* background-color: pink; */
    height: 100vh;
  }
  .full-menu{
    background-color: goldenrod;
    height: 100vh;
  }
  .option1 {
   margin-top: 2%;
  }
  .menu-opt {
    font-size: 230%;
  }
  .mini-topic {
    font-size: 60%;
    margin-top: -2%; 
  }
}
