.grid-coontainer-element {
  display: grid;
  grid-template-columns: 4fr 15fr;
  width: 100%;
  /* height: 100vh; */
}

.childimage.homeneigh {
  width: 100%;
  height: 93vh;
  object-fit: cover;
}
.grid-child-element.purple {
  background-color: #7c7774;
  text-align: center;
}
.content {
  /* background: pink; */
  font-size: 200%;
  height: 290px;
  margin-top: 290px;
} 

.button-46 {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #dfdfdf;
  /* border-radius: 16px; */
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-size: 28px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
}

.button-46:active,
.button-46:hover {
  outline: 0;
}

.button-46:hover {
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .button-46 {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
  }
}
.the-neighboorhood {
  color: gray;
  height: 290px auto;
  background: rgb(62, 61, 61);
  padding: 5px  5px 1px 5px;
  text-align: left;
}
h6.gold-secttion {
  font-size: 15px;
  margin-top: 30px;
  margin-right: 270px;
}
h1.gold-secttion {
  font-size: 28px;
  
  margin-bottom: 30px;
}
.gold-secttion {
  font-family: "luxury";
}
@font-face {
  font-family: "luxury";
  src: url(/din/fonts/FF\ DIN\ Pro\ Regular.otf);
}
.residence-neigh-logo-grey {
  margin-top: -12px;
  height: 288px;
  margin-bottom: -36px;
}
.gold-secttion.one {
  margin-top: -9%;
}
.contenting {
  margin-top: 20px;
  height: 90px;
  text-align: left;
  margin-left: 30px;
  /* background-color: peru; */
 

}
.exclude {
  color: grey;
  font-family: "luxury";
  margin-top: 10px; 
  font-size: 30px;
  padding: 5px 0px 7px 7px;
}

.excluder {
  color: gray;
  font-family: "luxury";
  font-size: 30px;
}
.coddler {
  font-family: "luxury";
  text-align: left;
  color: grey;
  font-size: 15px;
  /* background-color: pink; */
}
.coddler.bot {
  font-family: "luxury";
  text-align: left;
  color: grey;
  margin-top: 3px;
}
.coddle {
  height: 200px;
  padding: 8px 20px 7px 27px;
  /* background-color: pink; */

}

.downarrow.jir{
  font-family: 'luxury';
  font-size: 50%;
  cursor: pointer;
}
@media  all and (max-width: 700px){
  .grid-coontainer-element {
    display: block;
  }
  .downarrow.jir{
    font-family: 'luxury';
    font-size: 50%;
    cursor: pointer;
  }
  .childimage.homeneigh {
    object-fit: cover;
  }
  .coddler {
    /* background-color: purple; */
    font-family: "luxury";
    text-align: left;
    color: grey;
    font-size: 121%;
  }
  .coddler.bot {
    font-family: "luxury";
    /* background-color: pink; */
    text-align: left;
    color: grey;
    font-size: 120%;
    margin-top: 5%;
  }
  .coddle {
    /* background-color: pink; */
    margin-top: -17%;
    height: 200px;
    padding: 28px 20px 7px 27px;
  }
}