.simp {
  color: white;
  padding-top: 26px;
}
.bedroomr {
  background-image: url("http://www.thesaruni.com/TheSaruniImages/bedright.jpg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}
.bedrooml {
  background-image: url("http://www.thesaruni.com/TheSaruniImages/bedleft.jpg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.livingr {
  background-image: url("http://www.thesaruni.com/TheSaruniImages/livingright.jpg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.livingl {
  background-image: url("http://www.thesaruni.com/TheSaruniImages/livingleft.jpg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.kitchenl {
  background-image: url("http://www.thesaruni.com/TheSaruniImages/kitchenleft.jpg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.kitchenr {
  background-image: url("http://www.thesaruni.com/TheSaruniImages/kitchenright.jpg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
