.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 6fr;
    /* grid-gap: 20px; */
}
.grid-child.avi{
    background-color: pink;
}
.grid-child.kaplan{
    background-color: peachpuff;
}